# Ignore Python cache files and compiled files
__pycache__/
*.pyc
*.pyo
*.pyd

# Ignore virtual environment folders
.venv/
venv/
ENV/
env/
.env

# Ignore IDE/editor-specific folders and files
.vscode/
.idea/
*.swp
*.swo

# Ignore dataset files within specific data folders, but keep the folders
data/ip/*
data/pu/*
data/botswana/*

# Ignore the notebooks directory
notebooks/

# Ignore :Zone.Identifier files
*:Zone.Identifier